absl-py==0.7.1
appdirs==1.4.3
attrs==19.1.0
bert-serving-client==1.9.3
bert-serving-server==1.9.3
bert-tensorflow==1.0.1
bleach==1.5.0
blis==0.2.4
boto==2.49.0
boto3==1.9.130
botocore==1.12.130
bson==0.5.8
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
Click==7.0
cymem==2.0.2
distlib==0.3.0
dlib==19.18.0
face-recognition==1.2.3
face-recognition-models==0.3.0
filelock==3.0.12
funcy==1.12
future==0.17.1
gensim==3.7.2
GPUtil==1.4.0
html5lib==0.9999999
idna==2.8
importlib-metadata==1.1.3
importlib-resources==1.0.2
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.1
Keras==2.1.3
Markdown==2.6.11
matplotlib-venn==0.11.5
murmurhash==1.0.2
nltk==3.5
numpy==1.16.6
oauthlib==3.1.0
pandas==0.24.2
pathlib2==2.3.5
plac==0.9.6
preshed==2.0.1
protobuf==3.15.0
pyLDAvis==2.1.2
pyrsistent==0.15.2
PySocks==1.7.0
python-dateutil==2.8.0
python-facepp==0.1.0a5
PyYAML==3.12
pyzmq==18.0.2
regex==2019.6.8
requests==2.22.0
requests-oauthlib==1.2.0
s3transfer==0.2.0
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.0.0
seaborn==0.9.0
six==1.14.0
sklearn==0.0
smart-open==1.8.1
spacy==2.1.4
srsly==0.0.7
tensorflow==0.6.0
tensorflow-hub==0.4.0
tensorflow-tensorboard==0.1.8
termcolor==1.1.0
Textify==0.0.1
thinc==7.0.4
tqdm==4.32.2
tweepy==3.8.0
typing==3.7.4.1
urllib3==1.24.1
virtualenv==20.0.8
wasabi==0.2.2
Werkzeug==0.15.3
zipp==1.2.0
